body{
    /* Landing */
    position: relative;
    width: 1920px;
    height: 5343px;
    background: rgb(255, 255, 255);
}


/* ОБЛОЖКА */

header {
    position: absolute;
    width: 1683px;
    height: 1056px;
    left: 121px;
    right: 116px;
    top: 22px;
    bottom: 4265px;
}

Name1 {
    /* SIA_US_JEWELRY */
    position: absolute;
    width: 310px;
    height: 48px;
    left: 137px;
    top: 22px;
    color: rgb(199, 138, 23);
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}


text1 {
        /* Откройте ... */
    position: absolute;
    width: 748px;
    height: 151px;
    left: 183px;
    top: 430px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(204, 204, 204);
    font-family: Alegreya SC;
    font-size: 50px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

text2{
    /* Красота в мелочах: */
    position: absolute;
    width: 712px;
    height: 113px;
    left: 197px;
    top: 287px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(204, 204, 204);
    font-family: Alice;
    font-size: 77px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}

text3{
    /* SIA_US_JEWELRY */
    position: absolute;
    width: 546px;
    height: 90px;
    left: 1066px;
    top: 441px;
    color: rgb(204, 204, 204);
    font-family: Cormorant Garamond;
    font-size: 70px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0%;
    text-align: left;
}

text4{
    /* Украшения ручной работы */
    position: absolute;
    width: 512px;
    height: 74px;
    left: 1083px;
    top: 531px;
    color: rgb(230, 204, 139);
    font-family: Alice;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
}


/* дОБАВИТЬ КАРТИНКИ + КНОПКУ + МЕНЮ */


/* О СЕБЕ */

Testimonials  {
    /* Testimonials */
    position: absolute;
    width: 1657px;
    height: 738px;
    left: 121px;
    right: 142px;
    top: 1179px;
    bottom: 3426px;
}

text5{
    /* О СЕБЕ */
    position: absolute;
    width: 203px;
    height: 73px;
    left: 849px;
    top: 1196px;
    color: rgb(199, 138, 23);
    font-family: Cormorant Garamond;
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0%;
    text-align: center;
}

text6{
    /* Усова Анастасия */
    position: absolute;
    width: 498px;
    height: 96px;
    left: 701px;
    right: 458px;
    top: 1295px;
    bottom: -653px;
    color: rgb(79, 57, 34);
    font-family: Alegreya SC;
    font-size: 60px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 2%;
    text-align: center;
}

text7{
    /* Занятие украшениями... */
    position: absolute;
    width: 531px;
    height: 296px;
    left: 684px;
    right: 442px;
    top: 1391px;
    bottom: -949px;
    color: rgb(79, 57, 34);
    font-family: Alegreya SC;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: center;
}
    


/* ПРЕИМУЩЕСТВА */

.Our_Success {
    /* Our Success */
    position: absolute;
    width: 1559px;
    height: 311.16px;
    left: 170px;
    right: 191px;
    top: 2023px;
    bottom: 3008.84px;
}

text8{
    /* SIA_US_JEWELRY */
    position: absolute;
    width: 681px;
    height: 86.54px;
    margin: 0 auto;
    color: rgb(199, 138, 23);
    font-family: Cormorant Garamond;
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0%;
    text-align: center;
}

/* Бестселлеры */
.Bestsellers{
    position: absolute;
    width: 1920.99px;
    height: 1287.15px;
    left: 0;
    right: -0.99px;
    top: 2283px;
    bottom: 1772.85px;
}    
    
text9{
    /* Работы */
    position: absolute;
    width: 251px;
    height: 71px;
    left: 1454px;
    top: 2496px;
    color: rgb(79, 57, 34);
    font-family: Cormorant Garamond;
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0%;
    text-align: right;
}
   